@{
    ViewData["Title"] = "Expenses";
}

@model List<Expenses>

<div class="text-center">
    <div class="d-flex justify-content-between">
        <h3>Total Expense: $ @ViewBag.Expenses</h3>

        <h3 class="display-5"><strong>Expenses</strong></h3>

        <button asp-controller="Home" asp-action="CreateEditExpense" class="btn btn-outline-primary">
            Add New 
        </button>
    </div>
    <hr />
    <br />
    <table class="table">

        <thead>

            <tr>
                <th>
                    Id
                </th>

                <th>
                    Value
                </th>

                <th>
                    Description
                </th>

                <td>
                    Actions
                </td>
            </tr>

        </thead>

        <tbody>

            @{
                foreach(var expense in Model)
                {
                    <tr>
                        <td>
                            @expense.Id
                        </td>

                        <td>
                            @expense.Value
                        </td>

                        <td>
                            @expense.Description
                        </td>

                        <td>
                            <a class="btn btn-outline-success" asp-action="CreateEditExpense" asp-route-id="@expense.Id">Edit</a>
                            <a class="btn" asp-action="DeleteExpense" asp-route-id="@expense.Id">Delete</a>

                        </td>
                    </tr>
                }
            }

        </tbody>

    </table>
</div>
